:root {
    --corbase: #0E0D40;
    --cinza01: lightgray;
}

body {
    background-color: white;
}

.whitecontainer {
    color: white;
    background-color: var(--corbase);
}

#menu, #menu div {
    background-color: white;
}

#menu a {
    color: white;
}

#menu ul li a:hover {
    color: var(--cinza01);
}