* {
    margin: 0;
    padding: 0;
}

/*VARIÁVEIS*/
:root {
    --fonte01: 'Montserrat', sans-serif;
    --fonte02: 'Open Sans', sans-serif;
    --corbase: #0E0D40;
    --azul01: #0e0d40b8;
    --cinza01: lightgray;
    --laranja01: #ff7300;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--fonte02);
    font-size: 2rem;
    color: var(--corbase);
    background-color: white;
}

a {
    text-decoration: none;
}

/*TÍTULOS*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--fonte01);
}

h1 {
    font-size: 8rem;
    text-transform: uppercase;
}

h2 {
    font-size: 6rem;
    text-transform: uppercase;
    padding-bottom: 3rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

/*SESSÕES*/
.sessao {
    height: 100vh;
}

.maincontainer {
    max-width: 120rem;
    margin: 0 auto;
    padding: 4rem 2rem;
    color: white;
}

.whitecontainer {
    max-width: 120rem;
    margin: 0 auto;
    padding: 4rem 2rem;
    background-color: white;
}

.imgbg {
    background-image: url('../imagens/mainbg.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0.6rem 0.6rem 1.6rem rgba(0, 0, 0, 0.236);
}

/*MENU*/
#menu {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 0.1rem solid var(--cinza01);
}

#menu div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    max-width: 120rem;
    background-color: white;
}

#menu h1 {
    font-size: 2.3rem;
}

#menu a {
    color: var(--corbase);
}

#menu ul a {
    list-style-type: none;
    padding-bottom: 0.3rem;
    margin: 1rem;
    font-size: 1.8rem;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    position: relative;
}

#menu ul li a:hover {
    color: var(--azul01);
    border-bottom: 0.35rem solid var(--laranja01);
    transition: 0.2s ease-in-out;
}

/*SESSÃO 1*/
#intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#intro-box-um {
    max-width: 450px;
    padding-right: 2rem;
    text-align: left;
}

#intro-box-um p {
    text-transform: capitalize;
    line-height: 1.5;
}

#intro-box-dois {
    padding-left: 2rem;
    text-align: left;
}

#intro-box-dois img {
    max-width: 100%;
    height: auto;
}

#ses-top3-1 {
    display: flex;
    align-items: center;
    min-height: 100vh;
    max-width: 60rem;
    font-size: 2.1rem;
    text-align: center;
}

#top3-1 p {
    padding-bottom: 4rem;
}

#top3-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    text-align: left;
    counter-reset: grid-counter;
}

.grid-description {
    padding-bottom: 10rem;
}

.grid h3 {
    position: relative;
    font-size: 3rem;
    padding-left: 7rem;
    padding-bottom: 3rem;
}

.grid h3::before {
    position: absolute;
    counter-increment: grid-counter;
    content: counter(grid-counter);
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: 0;
    transform: rotate(5deg);
}

.gallery-img img{
   width: 90%;
   height: 90%;
   max-width: 36rem;
   max-height: 36rem;
   object-fit: cover;
   overflow: hidden;
}

#rec-jobs {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100vh;
}